@import "./vars";

body{
    background-repeat: no-repeat;
    #bracket{
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        font-size: 14px;
        margin: 0px;
        #upper{
            margin-bottom: 50px;
        }
        .song-match-up{
            width: 13.5em;
            .container{
                .match-up{
                    height: 45px;
                    border-bottom: solid rgba(0,0,0,0.1);
                    margin-bottom: 0.25em;
                    background-color: #fff;
                    border-radius: 5px;
                    .college-dropout-color-palette{
                        width: 5px;
                        border-radius: 3px 2px 3px 2px;
                        background-color: $college-dropout;
                    }
                    .late-registration-color-palette{
                        width: 5px;
                        .late-registration-1{
                            width: 5px;
                            height: 21px;
                            border-radius: 3px 2px 0px 0px;
                            background-color: $late-registration-base;
                        }
                        .late-registration-2{
                            width: 5px;
                            height: 22px;
                            border-radius: 0px 0px 3px 2px;
                            background-color: $late-registration-bear-eyes;
                        }
                    }
                    .graduation-color-palette{
                        width: 5px;
                        height: 43px;
                        border-radius: 3px 2px 3px 2px;
                        background-color: $graduation;
                    }
                    .mbdtf-color-palette{
                        width: 5px;
                        height: 43px;
                        border-radius: 3px 2px 3px 2px;
                        .mbdtf-1{
                            margin: auto;
                            height: 15px;
                            border-radius: 3px 2px 0px 0px;
                            background-color: $mbdtf-1;
                        }.mbdtf-2{
                            margin: auto;
                            height: 15px;
                            background-color: $mbdtf-2;
                        }.mbdtf-3{
                            margin: auto;
                            height: 15px;
                            border-radius: 0px 0px 3px 2px;
                            background-color: $mbdtf-3;
                        }
                    }
                    .watch-the-throne-color-palette{
                        width: 5px;
                        border-radius: 3px 2px 3px 2px;
                        background-color: $watch-throne;
                    }
                    .heartbreak-color-palette{
                        width: 5px;
                        height: 43px;
                        .heartbreak-1{
                            margin: auto;
                            height: 9px;
                            border-radius: 3px 2px 0px 0px;
                            background-color: $heartbreak-1;
                        }.heartbreak-2{
                            margin: auto;
                            height: 9px; 
                            background-color: $heartbreak-2;
                        }.heartbreak-3{
                            margin: auto;
                            height: 9px;
                            background-color: $heartbreak-3;
                        }.heartbreak-4{
                            margin: auto;
                            height: 9px;
                            background-color: $heartbreak-4;
                        }.heartbreak-5{
                            margin: auto;
                            height: 9px;
                            border-radius: 0px 0px 3px 2px;
                            background-color: $heartbreak-5;
                        }
                    }
                    .song-seed{
                        margin: auto 0 auto 10px;
                    }
                    .song-name{
                        margin: auto 0 auto 0;
                    }
                }
            }
        }
    }
}