$college-dropout: #3F0E11;
$late-registration-base: #643006;
$late-registration-bear-eyes: #C1A354;
$graduation: #873081;
$heartbreak-1: #9FD2CE;
$heartbreak-2: #00A9EB;
$heartbreak-3: #00A38B;
$heartbreak-4: #F8C0D3;
$heartbreak-5: #D6DF55;
$mbdtf-1: #D01830;
$mbdtf-2: #145193;
$mbdtf-3: #EDA033;
$watch-throne: #F8DBA6;
$yeezus-plastic: #D3D2D8 ;
$yeezus-tape: #F52C15;
$life-of-pablo: #F58B57;
$bg-color: #f8f2f2;
